[submodule "member-dispatch"]
	path = member-dispatch
	url = git@github.com:xdbr/cpp-member-method-instantiation-dispatch.git
[submodule "lazy-evaluation"]
	path = lazy-evaluation
	url = git@github.com:xdbr/cpp-poc-lazy.git
[submodule "defer"]
	path = defer
	url = git@github.com:xdbr/cpp-defer.git
[submodule "multidimensional-array"]
	path = multidimensional-array
	url = git@github.com:xdbr/cpp11-multideminsional-array.git
[submodule "generic-serialize"]
	path = generic-serialize
	url = git@github.com:xdbr/cpp-generic-serialize.git
